.board {
    display                 : grid;
    grid-template-columns   : repeat(3, auto);
    grid-gap                : 10px;
    min-height              : 200px;
    /* width                : 50vw;
    height                  : 60vh; */
    /* width                : 500px;
    max-width               : 80%; */
    width                   : 28rem;
    max-width               : 80%;
    max-height              : 80%;
    margin                  : 20px auto;
    border-radius           : 5px;
}

#strikethrough {
    visibility: hidden;
    position: absolute;
    height  : 5px;
}

#strikethroughChild {
    background-color: red;
    height          : 5px;
}