#container {
  height: 100vh;
  padding: 7em 5em;
}

#game {
  position: relative;
}

#scoreIndicator {
  position: absolute;
  top: 37%;
  height: 100px;
  width: 100%;
  background: black;
  opacity: 0.8;
  animation: changeOpacity 0.5s ease-in-out;
  border-radius: 255px 15px 225px / 15px 225px 15px 255px;
  border: 2px groove rgb(255 255 255);
}

#indicatorContent {
  margin: auto;
  text-align: center;
  line-height: 6rem;
  font-size: 3rem;
  color: white;
}

@keyframes changeOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.8;
  }
}

@media (min-width: 1023px) {
  #container {
    padding: 6.5em 5em;
  }
}