html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

p {
  font-size: 24px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (max-width: 430px) {
  body {
    overflow-y: auto;
    overflow-x: hidden;
    width: max-content;
  }
}

@media (max-height: 680px) {
  body {
    overflow-y: auto;
  }
}
