.square {
    position       : relative;
    display        : flex;
    justify-content: center;
    align-items    : center;
    width          : 7rem;
    height         : 7rem;
    background     : #efefef;
    border-radius  : 255px 15px 225px / 15px 225px 15px 255px;
    border         : 2px solid rgb(65, 64, 62);
}

.innerText {
    position  : absolute;
    top       : -36%;
    font-size : 4rem;
    text-align: center;
}

.winSquare {
    position       : relative;
    display        : flex;
    justify-content: center;
    align-items    : center;
    width          : 7rem;
    height         : 7rem;
    background     : #efefef;
    border-radius  : 255px 15px 225px / 15px 225px 15px 255px;
    border         : 2px dotted rgb(93, 92, 89);
}